body {
    background-color: #FFFFFF;
}
p {
    display: inline;
    border: 2px solid black;
    padding: 10px;
}
.grid-container {
    position: absolute;
    top: 200px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: #776e65;
    padding: 10px;
    border-radius: 10px;
  }
  .grid-container > div {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
  .grid-cell {
    grid-area: 1;
  }