body {
    background-color: #FFFFFF;
}
p {
    display: inline;
    border: 2px solid black;
    padding: 10px;
}
.grid-container {
    position: absolute;
    top: 100px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: #776e65;
    padding: 10px;
    border-radius: 10px;
    color: #f9f6f2;
    font-size: 55px;
  }
  .grid-container > div {
    border-radius: 10px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding: 20px;
    font-weight: bold;
    
  }
  .grid-cell {
    grid-area: 1;
  }
  .zero {
    background-color: #ffffff3f;
    color:#776e6500;
  }
  .two {
    background-color: #ffffffbb;
  }
  .four {
    background-color: rgb(237,224,200);
  }
  .eight {
    background-color: rgb(242,177,121);
  }
  .sixteen {
    background-color: rgb(245,149,99);
  }
  .thirtytwo {
    background-color: #f67c5f;
  }
  .sixtyfour {
    background-color: #f65e3b;
  }
  .onetwentyeight {
    background-color: #edcf72;
    font-size: 45px;
  }
  .twofiftysix {
    background-color: #edcc61;
      font-size: 45px;
  }
  .fivetwelve {
    background-color: #edc850;
      font-size: 45px;
  }
  .tentwentyfour {
    background-color: #edc53f;
      font-size: 35px;
  }
  .twentyfourtyeight {
    background-color: #edc850;
      font-size: 35px;
  }
